/* line 6, ../compass/sass/styles.scss */
#map {
  height: 99vh;
  width: 75%;
  float: left;
}

/* line 18, ../compass/sass/styles.scss */
.myTable {
  height: 99vh;
  overflow: scroll;
}

/* line 23, ../compass/sass/styles.scss */
.filterField {
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
}
